body {
    background-image: url('Media/background\ house.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
    position: relative;
}

img.logo {
    width: 512px;
    height: 318px;
    margin-bottom: 30%;
}

img.ryu_sel {
    position: absolute;
    margin-right:70%;
    margin-bottom: 10%;
    scale: 0.65;
}

img.ken_sel {
    position: absolute;
    margin-left:70%;
    margin-bottom: 10%;
    scale: 0.65;
}

img.char_sel_p1 {
    position: absolute;
    margin-right:70%;
    margin-top: 25%;
    scale: 0.65;
}

img.char_sel_p2 {
    position: absolute;
    margin-left:70%;
    margin-top: 25%;
    scale: 0.65;
}

img.map_sel {
    position: absolute;
    margin-bottom: 20%;
    border-style: solid;
    border-width: 10px;
    border-color: khaki;
    scale: 0.3;
}

button.right_map {
    position: absolute;
    margin-bottom: 20%;
    margin-left: 35%;
}

button.left_map {
    position: absolute;
    margin-bottom: 20%;
    margin-right: 35%;
}

button.start {
    background-image: linear-gradient(red, yellow);
    /* background-image: url('Media/so\ fire.gif'); i think i cooked without the fire if ykyk */
    background-color: #f07523;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 10px black;
}

button.sel_continue {
    background-image: linear-gradient(red, yellow);
    /* background-image: url('Media/so\ fire.gif'); i think i cooked without the fire if ykyk */
    background-color: #f07523;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    margin-top: 400px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 10px black;
}


/* Map Selection CSS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -40px;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: -40px;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}